<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="app.css"/>
  <link rel="stylesheet" href="UI.styles.css"/>
  <link rel="stylesheet" href="fonts/njnaruto.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
  <title>Sage Memo | Blazor</title>
  <HeadOutlet/>
</head>

<body class="bg-black h-screen">
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>