@page "/"

<div class="flex text-white items-center justify-center flex-col gap-10 h-screen">
  <h1 class="text-4xl font-black uppercase tracking-widest gradient-naruto bg-clip-text text-transparent">Sage Memo</h1>
  <div class="flex flex-col items-center gap-4">
    <NavLink href="/play" class="btn primary-btn">Start Game</NavLink>
    <NavLink href="/high-scores" class="btn primary-btn">High Scores</NavLink>
  </div>
</div>