@page "/how-to-play"

<PageTitle>Memory Game - How to Play</PageTitle>

<div class="container">

    <h1 class="mb-5">How to Play</h1>

    <p>Welcome to the Memory Game!</p>
    <p>The goal is to match all the pairs of cards as quickly as possible and with the fewest moves.</p>
    
    <br />
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Choose a difficulty level on the Home Page.</li>
            <li class="list-group-item">Click "Play" to start the game.</li>
            <li class="list-group-item">Select two cards to reveal them.</li>
            <li class="list-group-item">If they match, they'll remain visible; otherwise, they'll flip back over.</li>
            <li class="list-group-item">Match all pairs to complete the game.</li>
            <li class="list-group-item">Save your score and challenge yourself to improve!</li>
        </ul>
    </div>
</div>

