@page "/menu"
@rendermode InteractiveServer

<h3>Menu</h3>

<div class="d-flex flex-column gap-1">
    <a class="btn btn-secondary btn-group" href="/play">Start</a>
    <a class="btn btn-secondary btn-group" href="/settings">Settings</a>
    <a class="btn btn-secondary btn-group" href="/history">History</a>
    <a class="btn btn-secondary btn-group" href="/stats">Stats</a>
    <a class="btn btn-secondary btn-group" href="/report">Report</a>
</div>

@code {

}
