@using Data.Models
@inject GamesService GamesService
@inject NavigationManager Navigation
@inject IScoresService ScoresService

<div class="flex flex-col items-center gap-10">
  <div class="flex flex-col items-center gap-6">
    <h2 class="text-4xl text-center">Congratulations <span class="gradient-naruto bg-clip-text text-transparent">@Game.Username</span>!</h2>
    <h3 class="text-2xl">You have found all pairs!</h3>
    <div class="flex flex-col items-center gap-2">
      <p class="tracking-widest">Total Moves: @Game.Moves</p>
      <p class="tracking-widest">Total Time: @Game.Time.ToString(@"mm\:ss")</p>
    </div>
  </div>
  <div class="flex items-center gap-6">
    <button @onclick="ReturnToMainMenu" class="btn primary-btn">Main Menu</button>
    <button @onclick="OnTryAgain" class="btn primary-btn">Try again</button>
  </div>
</div>

@code {
  private Game Game { get; set; }
  [Parameter] public EventCallback OnTryAgain { get; set; }

  protected override async Task OnInitializedAsync()
  {
    Game = GamesService.Game;
    await ScoresService.AddGameScoreAsync(Game);
  }

  private void ReturnToMainMenu()
  {
    GamesService.ResetGame();
    Navigation.NavigateTo("..");
  }

  private void TryAgain()
  {
    OnTryAgain.InvokeAsync();
  }

}