@using UI.Models
<div @onclick="() => RevealCard.InvokeAsync(Card)" class="card__container lg:h-[200px] lg:w-[140px] h-32 w-20 @(Card.ShouldBeRemoved ? "hide" : "")">
  <div class="card relative h-full w-full @(Card.IsRevealed ? "rotated" : "")">
    <div class="card-front bg-black border-2 border-white">
      <img alt="" src="images/seal.png" class="h-full w-full object-contain"/>
    </div>
    <div class="card-back bg-white">
      <img alt="" src="@Card.ImagePath" class="image"/>
    </div>
  </div>
</div>

@code {
  [Parameter] public Card Card { get; set; }
  [Parameter] public EventCallback<Card> RevealCard { get; set; }
}