.card__container {
    border-radius: 20px;
    cursor: pointer;
    perspective: 150px;
    transition: transform 0.3s;
}

.card {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card,
.card-front,
.card-back {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.card-front,
.card-back {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
}

.image {
    border-radius: 20px;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

.rotated {
    transform: rotateY(180deg);
}

.hide {
    transform: scale(0);
}