<div class="game-card" @onclick="CardClicked">
    @if(Card != null)
    {
        <div class="game-card-body @(Card.IsSelected ? "selected" : "") @(Card.IsMatched ? "matched" : "")">
            <div class="front">
                <div class="card-image">
                    <DynamicComponent Type="Card.FrontSvg" />
                </div>
            </div>
            <div class ="back">
                <div class="card-image">
                    <DynamicComponent Type="Card.BackSvg" />
                </div>
            </div>
        </div>
    }
</div>


@code {
    [Parameter] public Card? Card { get; set; }
    [Parameter] public EventCallback<Card> OnCardSelected { get; set; }

    private async Task CardClicked()
    {
        if (Card is not null && !Card.IsMatched && !Card.IsSelected && OnCardSelected.HasDelegate)
        {
            await OnCardSelected.InvokeAsync(Card);
        }
    }
}
